.listWrap{
    padding: 5px;
}

.table_head{
    backgroundcolor: #DDE6ED;
    color : white;
}

.checkboxList{
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
}

.topText{
    margin-bottom : 20px;
}