/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명한 검은 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 숫자는 필요에 따라 조절 가능합니다 */
}

.modal-content {
  background: white;
  width: 600px;
  height: 800px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* overlay보다 더 위에 올라가도록 설정 */
  position: relative;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.close-button button {
    padding: 6px 10px !important;
}

.basicApprovalInfoBox {
  margin-bottom: 20px;
  border: none;
}

.basicApprovalInfoBox td {
  border: none;
}

.basicApprovalInfoBox tr td:first-child {
  font-weight: bold; /* 예시: 텍스트를 굵게 만듭니다 */
}
.basicApprovalInfoBox tr td{
   padding-left: 17px;
}


.detailedContentBox {
  margin-bottom: 20px;
}

.detailedContentBox div {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* 테이블 스타일링 */
.outputModalApprover {
  width: 100%;
  border-collapse: collapse;
}

.outputModalApprover th,
.outputModalApprover td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.outputModalApprover th {
  background-color: #f2f2f2;
}

.modal-content h3 {
    margin-bottom: 10px;
}

.detailedContentBox div{
    word-break:break-all;
}










