/*----------------(근태 달력)-------------------*/

.attd_cal .calYM{
	width:100%;
	padding:10px 0 20px;
	text-align: center;
	font-size: 1.2em;
}
.caldate {
	display: inline-block;
	width:150px;
}
.calBox .calDay, .calDate{
	display: flex;

}
.calBox .calDay li{
	padding:10px 0;
	width:128.5px;
	text-align: center;

	border-top:solid 1px var(--main02);
	border-bottom:solid 1px var(--main02);
	border-right:solid 1px var(--main02);

}
.calBox .calDay li:nth-child(1){
	border-left:solid 1px var(--main02);
}
.calDate {flex-wrap: wrap;}
.calBox .calDate div{
	font-size:0.9em;
	width:128.5px;
	height:85px;
	padding:5px;

	border-top:solid 1px var(--main02);
	border-right:solid 1px var(--main02);
}
.calBox .calDate div:nth-of-type(7n+1){
	border-left:solid 1px var(--main02);
}
.calBox .calDate div:nth-last-child(-n+7){
	border-bottom:solid 1px var(--main02);
}

.calDate .att{
	display: inline-block;
	width:100%;
	padding:5px 0;
	color:var(--main04);
	font-size: 1em;
}
.today{background-color: var(--main01); font-weight: bold; color:#fff;}
.sun{color:red;}
.sat{color:blue;}
.invalidDate{color:var(--lgray);}