/* 체크리스트 박스를 감싸는 전체 영역 */
.checkboxList{
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
}

.topText{
    margin-bottom : 20px;
}
/* input checkbox*/
input[name="cb"]{
    vertical-align: middle;
    margin-left: 5px;
}
/* 테이블 헤더 타이틀바*/
.th01{
    background-color:var(--main04);
    font-weight:bold;
}
.th_cell{
    padding:10px 0 !important ;
    color:#fff !important;
    font-weight:bold !important;
}
/* 테이블 바디*/
.tbody_tr{
    padding:10px 0 !important ;
}
.tbody_tr:hover{
    background-color: var(--main01);
}